<h1>Entries</h1>
<table border="1">
<tr><td>Date</td><td>Description</td><td>Previous hash</td><td>This hash</td><td>My new debt</td><td>Unit of value</td></tr>
{% for entry in object_list %}
    <tr>
         <td>{{ entry.date }}</td>
         <td>{{ entry.description }}</td>
         <td>{{ entry.previous_hash }}</td>
         <td>{{ entry.this_hash }}</td>
         <td>{{ entry.my_new_debt }}</td>
         <td>{{ entry.unit_of_value }}</td>
    </tr>
{% empty %}
    No entrys yet.
{% endfor %}
</table>
