<p>
You're looking at the ledger for friend {{ friend.nick }}.
    (<a href="{% url 'ledger:index' %}">back</a>)
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>
Current balance:
    {{ current_balance.amount }}
    {{ current_balance.unit_of_value }}
</p>

<p>
Entries:
<ul>
{% for entry in entry_list %}
    <li>
    {{ entry.description }}
    {{ entry.my_added_debt }}
    {{ entry.unit_of_value }}
    </li>
{% empty %}
    <li>(no entries)</li>
{% endfor %}
</ul>

<form action="{% url 'ledger:add' friend.id %}" method="post">
{% csrf_token %}

<label for="amount">Amount</label>
<input type="text" name="amount" id="amount" value="0" />
<br>

<label for="unit_of_value">Unit of Value</label>
<input type="text" name="unit_of_value" id="unit_of_value" value="IDR" />
<br>

<input type="submit" value="Add" />
</form>
